.header {
    background-color: #2c2622;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.userGitName_input {
    margin: 10px;
    outline: none;
}

.userGitInfo_button {
    cursor: pointer;
    outline: none;
}

.userGitLoadingStatus {
    margin: 0 10px;
    padding: 0;
    color: white;
}